@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0a1122;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


/* Custom scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0a1122;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.react-calendar {
    background-color: #0B1739 !important;
    color: #E0E6F0 !important;
    border: none !important;
    border-radius: 8px;
    padding: 10px;
}

.react-calendar__tile {
    background: transparent;
    color: #E0E6F0;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.react-calendar__tile--active {
    background: #1E90FF !important;
    color: #fff !important;
}

.react-calendar__tile--now {
    background: #FFD700 !important;
    color: #000 !important;
}

.react-calendar__tile--weekend {
    color: #E53E3E !important;
}